@import '../../styles/mixins.scss';

.container {
  padding: 30px;
  max-width: 1920px;
  margin: 0 auto;
  flex: 1 1 auto;
}

.buttonAdd {
  text-align: center;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px auto;
}
